{% load static %}
{% static 'images' as baseURL %}
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login to MMVR International</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
            <link rel="stylesheet" href="{% static 'home_login/style.css' %}">
            
   </head>
<body>
<!-- partial:index.partial.html -->

<div class="login-page">
  <div class="form">
   <div>
    <form class="login-form" action="login" method="POST">
      {% csrf_token %}
      <h1>Login</h1>
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button>login</button>
      <p class="message"> {{ message }} </p>
    </form>
    </div>
    <div>
      <div>
     
    </form>
  </div>
</div>

</body>
</html>
